{% extends "templates/web.html" %}

{% block title %}Pricing{% endblock %}

{% block script %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    let secretKey = '';
    const subscribeButton = document.getElementById('subscribe-button');
    const stripe = Stripe('{{ frappe.db.get_single_value("SaaS Settings", "stripe_publishable_key") }}');
    let elements = null;

    subscribeButton.addEventListener('click', async (event) => {
        frappe.call('simple_saas.api.subscribe').then(({message}) => {
            console.log(message.secret_key)
            secretKey = message.secret_key;
            
            const options = {
                clientSecret: secretKey,
            };
    
            // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 5
            elements = stripe.elements(options);
            
            console.log("mouting payment element", options)
            // Create and mount the Payment Element
            const paymentElement = elements.create('payment');
            paymentElement.mount('#payment-element');
        })
    });


    const form = document.getElementById('payment-form');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const { error } = await stripe.confirmPayment({
            //`Elements` instance that was used to create the Payment Element
            elements,
            confirmParams: {
                return_url: "http://saas.localhost:8000/payment-success",
            }
        });

        if (error) {
            // This point will only be reached if there is an immediate error when
            // confirming the payment. Show error to your customer (for example, payment
            // details incomplete)
            const messageContainer = document.querySelector('#error-message');
            messageContainer.textContent = error.message;
        } else {
            // Your customer will be redirected to your `return_url`. For some payment
            // methods like iDEAL, your customer will be redirected to an intermediate
            // site first to authorize the payment, then redirected to the `return_url`.
        }
    });
</script>

{% endblock %}

{% block content %}

<div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Premium Switch</h5>
            <h6 class="card-subtitle mb-2 text-muted">₹100/month</h6>
            <button id="subscribe-button" class="card-link btn btn-info">Subscribe</button>
        </div>
    </div>
</div>

<div class="m-5">
    <form id="payment-form">
        <div id="payment-element">
        </div>
        <button id="submit">Subscribe</button>
        <div id="error-message">
        </div>
    </form>
</div>

{% endblock %}